src/clients/c/lib
/tigerbeetle
/tigerbeetle.exe
*_*.tigerbeetle.*
*_*.tigerbeetle
.zig-cache/
zig-cache/
zig-out/
.nrepl-port
.hot-run.log
.hot-run.pid
.hot-run.stdin
.hot-run.stdin.pid
.zig-hot-thunks/

tools/
# By convention, logs from simulator use .vopr extension.
*.vopr

# Death to .DS_Store
.DS_Store
