src/clients/c/lib
/tigerbeetle
/tigerbeetle.exe
*_*.tigerbeetle.*
*_*.tigerbeetle
.zig-cache/
zig-cache/
zig-out/

tools/
# By convention, logs from simulator use .vopr extension.
*.vopr

# Death to .DS_Store
.DS_Store

# TLC traces generated while model-checking TLA specs.
docs/tla/*_TTrace_*.bin
docs/tla/*_TTrace_*.tla
docs/tla/.tlc-logs/
docs/tla/.tlc-traces/
docs/tla/states/
